
.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 3px red solid;
    width: 80%;
    border-radius: 10px;
    background-color: #F4FEEE
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.grayparagraph {
    background: #800505;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}



.header {
    height: 30%;
    background: red;
    color: white;
    text-align: center;
}
.container {
    padding: 2px 16px;
}

body{
    margin: 8px;
}